input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #888;
  box-shadow: 0 0 5px rgba(136, 136, 136, 0.5);
}

button.auth-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffc0cb;
  color: #42052b;
  border: none;
  border-radius: 5px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.auth-button:hover {
  background-color: #ff99aa;
}